
.reveal .slide-number {
    z-index: 100;
    font-size: 20pt;
    text-align: center;
    vertical-align: middle;
    color: white;
    position: absolute;
    left: 0;
    width: 60px;
    height: 30px;
}

.reveal section img {
    /* border: 2px solid black; */
    border: none;
}

.reveal h1,
.reveal h2,
.reveal h3 {
    text-transform: none;
}

.reveal h1 {
    font-size: 2em; 
}

.reveal h2 {
    font-size: 1.4em;
}

.reveal h3 {
    font-size: 1.2em;
}

div.sourceCode {
    margin: 0.5em 0 0 0;
}

